/*
 * Styling for page that contains all my previous project
 *
 * Copyright 2014 Jordan Hennell
 */

/* STYLING */

/* the whole body of the document */
body {
    background-color: rgb(207, 207, 226); /* light grey blue */
    color: rgb(0, 2, 100); /* dark blue */
    font-family: "Roboto";
}

/* remove styling on links */
a {
    text-decoration: none;
}
    
/* header that sticks to the top of the page */
#header-container {
    background: rgba(0, 2, 100, 0.8); /* dark blue */
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    margin: 0 auto;
    position: fixed !important;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    z-index: 1000;
}

/* text within the header */
#title-text {
    max-width: 800px;
    font-size: 34px;
    font-weight: bold;
    margin: 3px auto;
}

/* content under the header, ie. everything else */
#under-header {
    height: auto !important;
    margin: 0 auto;
    max-width: 800px;
    min-height: 100%;
    padding: 0 5px;
    animation: 0.8s linear fade-in;
}

/* adds vertical spacing */
.push {
    height: 40px;
    opacity: 0;
}

/* a short paragraph summarising the site */
#introduction {
    background: white;
    padding: 10px 20px 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
/* contains the entire menu */
#menu-container {
    padding-bottom: 20px;
    overflow: visible;
}

    /* unordered menu list, remove indentation */
    #menu-container ul {
        padding: 0;
        margin: 0;
    }
    
    /* list items in the menu */
    #menu-container li {
        display: block;
        background: white;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        float: left;
        margin: 4px 0px;
        overflow: hidden;
        position: relative;
        transition: all 0.3s linear;
        width: 100%;
    }
        
        /* increase size of menu item when hovered over */
        #menu-container li:hover {
            background-color: rgba(0, 2, 100, 0.8); /* dark blue */
            transform: scale(1.2);
            z-index: 2;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        }
        
        /* anchor that fills entire menu item area */
        #menu-container li a {
            color: rgb(0, 2, 100); /* dark blue */
            display: block;
            padding: 0 10px 10px 10px;
            width: 100%;
            height: 100px;
            font-size: 30px;
            transition: all 0.4s linear;
        }
               
            /* grow the anchor link when it is hovered over */
            #menu-container li:hover a {
                font-size: 40px;
                margin: 5px 0;
                color: white;
                padding: 0px 20px 20px 20px;
            }
        
        /* image from font to use within link to show type of project */
        #menu-container li .font-image {
            font-family: "Web Glyphs";
            margin-top: 35px;
            color: rgba(0, 2, 100, 0.7); /* dark blue */
            font-size: 60px;
            position: absolute;
            transition: all 0.4s linear;
        }
        
            /* move the image when list item is hovered over */
            #menu-container li:hover .font-image {
                color: rgba(255, 255, 255, 0.2); /* white */
                font-size: 180px;
                margin: -50px 0px 0px 60%;
                transform: rotate(15deg);
            }

        /* content to describe what area this project relates to */
        #menu-container li .subtitle {
            color: rgba(0, 2, 100, 0.7); /* dark blue */
            position: absolute;
            font-size: 26px;
            top: 55%;
            left: 80px;
            transition: all 0.4s linear;
        }
        
            /* rearrage content when menu item is hovered over */
            #menu-container li:hover .subtitle {
                color: white;
                left: 20px;
                font-size: 20px;
                top: 50%;
            }
            
        /* content to only show when the menu is hovered over */
        #menu-container li .show-on-hover {
            opacity: 0;
            margin-top: 80px;
            transition: margin-top 0.5s linear;
            color: white;
        }

            /* show on hover */
            #menu-container li:hover .show-on-hover{
                opacity: 0.5;
                margin-top: 35px;
                font-size: 16px;
            }
    
/* ANIMATIONS */

/* fade in everything under the header */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* FONTS */

/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto/Roboto-Regular.ttf') format("truetype");
}

/* Roboto */
@font-face {
  font-family: "Web Glyphs";
  src: url('fonts/webhostinghub-glyphs/webhostinghub-glyphs.ttf') format("truetype");
}