/*
 * Styling for page that contains all my previous project
 *
 * Copyright 2014 Jordan Hennell
 */

/* STYLING */

/* the whole body of the document */
body {
    background-color: rgb(207, 207, 226); /* light grey blue */
    color: rgb(0, 2, 100); /* dark blue */
    font-family: "Roboto";
}

/* remove styling on links */
a {
    text-decoration: none;
    transition: color 0.2s  ease;
    transition: background-color 0.2s  ease;
}

/* header that sticks to the top of the page */
#header-container {
    background: rgba(0, 2, 100, 0.8); /* dark blue */
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    margin: 0 auto;
    position: fixed !important;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    z-index: 3;
}

/* text within the header */
#title-text {
    max-width: 800px;
    font-size: 34px;
    font-weight: bold;
    margin: 3px auto;
}

/* content under the header, ie. everything else */
#under-header {
    height: auto !important;
    margin: 0 auto;
    max-width: 800px;
    min-height: 100%;
    padding: 0 5px;
    animation: 0.8s linear fade-in;
}

/* adds vertical spacing */
.push {
    height: 40px;
    opacity: 0;
}

/* adds small vertical spacing */
.push-small {
    height: 20px;
    opacity: 0;
}

/* a short paragraph summarising the site */
#introduction {
    background: white;
    padding: 10px 20px 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
/* contains the entire menu */
#menu-container {
    padding-bottom: 20px;
    overflow: visible;
}

/* unordered menu list, remove indentation */
#menu-container ul {
    padding: 0;
    margin: 0;
}

/* list items in the menu */
#menu-container li {
    display: block;
    background: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 4px 0px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s linear;
    width: 100%;
}

/* increase size of menu item when hovered over */
#menu-container li:hover {
    background-color: rgba(0, 2, 100, 0.8); /* dark blue */
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

/* anchor that fills entire menu item area */
#menu-container li .menu-item {
    color: rgb(0, 2, 100); /* dark blue */
    display: block;
    padding: 0 10px 10px 10px;
    width: 100%;
    height: 100px;
    font-size: 30px;
    transition: all 0.4s linear;
}

/* grow the anchor link when it is hovered over */
#menu-container li:hover .menu-item {
    font-size: 40px;
    margin: 5px 0;
    color: white;
    padding: 0px 20px 20px 20px;
    cursor: pointer;
}

/* image from font to use within link to show type of project */
#menu-container li .font-image {
    font-family: "Web Glyphs";
    margin-top: 35px;
    color: rgba(0, 2, 100, 0.7); /* dark blue */
    font-size: 60px;
    position: absolute;
    transition: all 0.4s linear;
}

/* move the image when list item is hovered over */
#menu-container li:hover .font-image {
    color: rgba(255, 255, 255, 0.2); /* white */
    font-size: 180px;
    margin: -50px 0px 0px 60%;
    transform: rotate(15deg);
}

/* content to describe what area this project relates to */
#menu-container li .subtitle {
    color: rgba(0, 2, 100, 0.7); /* dark blue */
    position: absolute;
    font-size: 26px;
    top: 55%;
    left: 80px;
    transition: all 0.4s linear;
}

/* rearrage content when menu item is hovered over */
#menu-container li:hover .subtitle {
    color: white;
    left: 20px;
    font-size: 20px;
    top: 50%;
}

/* content to only show when the menu is hovered over */
#menu-container li .show-on-hover {
    color: white;
    opacity: 0;
    margin-top: 80px;
    transition: margin-top 0.5s linear;
    font-size: 16px;
    display: block;
}

/* show on hover */
#menu-container li:hover .show-on-hover{
    opacity: 0.5;
    margin-top: 35px;
}

/* MODAL */
/* Based on Shady Alzayat's modal on CodePen: http://codepen.io/ShadyAlzayat/pen/LEDJg */

/* the container for the modal */
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    transition: all 0.5s ease;
    z-index: 3;

}

/* the state of the modal, a checkbox */
.modal-state {
    display: none;
}

/* if the state of the modal is checked, then show the modal */
.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
}

/* move modal to middle of screen */
.modal-state:checked + .modal .modal-inner {
    top: 0;
}

/* the content within the modal */
.modal-inner {
    overflow: auto;
    position: absolute;
    background: pink;
    top: -30%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 60%;
    margin: auto;
    padding: 10px 30px;
    transition: top 0.5s ease;
}

/* the close button/web-font */
.modal-close {
    font-family: "Web Glyphs";
    color: rgb(0, 2, 100); /* dark blue */
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
}

/* trip planner modal */
#trip-planner * {
    background-color: #82CAFA; /* light sky blue */
    color: white;
}

    /* anchor link top act as button */
    #trip-planner .button {
        background-color: white;
        color: rgb(130, 202, 250); /* light sky blue */
        padding: 5px;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
        transition: all 0.2s linear;
    }
    
        /* grey out colours */
        #trip-planner .button:hover {
            color: white;
            background-color: rgb(91, 141, 178); /* light sky blue + grey */
            padding: 6px;
            font-size: 18px;
        }
    
    /* cloud images within trip planner */
    #trip-planner .cloud {
        float: right;
    }
    
    /* cloud images within trip planner */
    #trip-planner .cloud.small {
        margin-right: 40%;
    }
    
    /* heading within trip planner */
    .overview {
        clear: both;
    }

/* styling for smaller screen */
@media screen and (max-width: 900px) {
	
  .modal-inner {
    width: 80%;
    height: 80%;
  }
}

/* ANIMATIONS */

/* fade in content using opacity */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* FONTS */

/* Roboto */
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Regular.ttf') format("truetype");
}

/* Roboto */
@font-face {
    font-family: "Web Glyphs";
    src: url('fonts/webhostinghub-glyphs/webhostinghub-glyphs.ttf') format("truetype");
}